<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <b>Name:</b>
			  <%= @task.taskname %>
			</p>

			<p>
			  <b>Description:</b>
			  <%= @task.description %>
			</p>
			<p>
			  <%= @task.user.name %>
			</p>
			<% if current_user == @task.user %>
				<%= link_to 'Edit', edit_task_path(@task) %> |
				<%= link_to 'Back', tasks_path %>
			<% end %>
		</div>
	</div>
</div>


